.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html, body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* Apply fix for iOS/Safari not applying body to full screen with background video in place.
  Without this the day/night toggle styling will only affect the root elements of the body and the 
  remainder of the background will not get rendered in the style in Safari on MacOS or any browser in iOS.*/
  -webkit-min-logical-height: -webkit-fill-available;
}

@supports selector(:has(*)) {
  /* newer browsers that support :has don't need the prior nav offset */
  body {
    height: 100vh;
  }
}

.main {
  flex-grow: 1;
}

#root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.night {
  background-color: #000;
  color: rgb(194, 194, 194);
}

.clientCard {
  margin: 0.4em 0.4em 1.2em 0.4em;
  padding: 0.75em;
  background-color: rgb(255, 255, 255, 1.0);
  border-radius: 3%;
}

.clientCard, form input, form textarea, form button {
  box-shadow:  4px 4px 2px rgb(0, 0, 0, 0.5);
}

.clientCard .clientLogo {
  height: 150px;
}

.clientCard .clientName {
  min-height: 3em;
  max-height: 3em;
  margin-top: 0.5em;
  margin-bottom: 1.0em;
}
.clientCard .clientName p {
  margin-bottom: 0px;
}

.clientCard .clientSkillStack {
  min-height: 6em;
  max-height: 6em;
  margin-bottom: 1em;
  overflow-y: auto;
  scrollbar-color: transparent;
  scrollbar-width: none;
}

.night .clientCard, .night .modal-content, .night form input, .night form textarea, .night form button {
  background-color: rgb(0, 0, 0, 1.0);
  box-shadow: 0px 0px 8px 2px rgb(255, 255, 255, 0.5);
}

.clientCard img {
  max-width: 100%;
  height: auto;
  max-height: 150px;
}

.night .clientCard img {
  opacity: 60%;
  filter: invert(1) grayscale(100%) brightness(100%);
}

.container {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav a.active {
	color: #000000;
}

.night nav a.active {
	color: aquamarine;
}

nav .dropdown {
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  height: 100%; 
  cursor: pointer;
}

nav .dropdown nav, .night nav .dropdown nav {
  background: transparent;
}

.night nav, .night nav .show, .night nav .form-check-label {
  background: #012e4d;
  color: rgb(194, 194, 194);
}

nav .dropdown-menu {
  background: #0E86D4;
  border: 1px solid rgba(255, 255, 255, 1)
}

.night nav .dropdown-menu {
  border: 1px solid rgb(194, 194, 194)
}

nav .dropdown-item.active {
  background: #0E86D4;
  color:#000;
}

.night nav .dropdown-item.active {
  background: #012e4d;
  color: aquamarine;
}

nav .nav-link, .night nav .nav-link, nav .form-check-label {
  color: #fff;
}

.parent-active .dropdown-toggle {
  text-decoration: underline;
  text-decoration-color: #000;
  text-decoration-thickness: 2px;
  background: transparent;
}

.parent-active .dropdown-toggle::after {
  color: #000;
}

.night .parent-active .dropdown-toggle {
  text-decoration: underline;
  text-decoration-color: aquamarine;
  text-decoration-thickness: 2px;
  background: transparent;
}

.night .parent-active .dropdown-toggle::after {
  color: aquamarine;
}

@media screen and (max-width: 768px) {
  nav .show {
    display: flex;
    display: -webkit-flex;
  }
}

nav .form-switch {
  display: flex;  
  height: 100%; 
  align-items: center;
  margin-left: 1.5em;
}

@media screen and (max-width: 768px) {
  nav .form-switch {
    display: block;
    position: absolute;
    top: 1.5em; 
  }
}

nav .form-switch .form-check-label {
  min-width: 3em;
  padding-left: 0.25em;
  padding-top: 0.25em;
  @media screen and (max-width: 768px) {
    padding-top: 0;
  }
}

.form-switch .form-check-input {
  margin-right: 0.25em;
}

nav input[type="checkbox"]:focus-visible {
  outline: 2px solid blue;
  box-shadow: 0 0 5px rgba(0, 0, 128, 0.5);
}

video.background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
  filter:opacity(33%);
}

.night video.background-video {
  filter:opacity(45%);
}

.form-switch .form-check-input:checked {
  background-color: lightskyblue;
  border: 2px solid rgb(255, 255, 255)
}

.night .form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
  background-color: midnightblue;
  border: 2px solid rgb(194, 194, 194);
}

.rs-timeline {
  display: grid;
}

.eventCard:hover {
  cursor: pointer;
}

li.rs-timeline-item .rs-timeline-item-content .eventCard {
  margin: 0.4em 0.4em 1.2em 0.4em;
  padding: 0.75em;
  background-color: rgb(255, 255, 255, 1.0);
  border-radius: 5px;
  box-shadow:  4px 4px 2px rgb(0, 0, 0, 0.5);
}

.night li.rs-timeline-item .rs-timeline-item-content .eventCard {
  background-color: rgb(0, 0, 0, 1.0);
  box-shadow: 0px 0px 8px 2px rgb(255, 255, 255, 0.5);
}

.rs-timeline-item-tail, .rs-timeline-item-dot::before {
  background: rgb(14, 134, 212);
}

.night .rs-timeline-item-tail, .rs-timeline-item-dot::before {
  background: rgb(1, 46, 77);
}


.rs-timeline-item-active .rs-timeline-item-dot::before {
  background: rgb(255, 255, 255);
}

.night .rs-timeline-item-active .rs-timeline-item-dot::before {
  background: rgb(0, 0, 0);
}

.custom-timeline .rs-timeline-item-custom-dot .rs-icon {
  position: absolute;
  background: rgb(255, 255, 255);
  top: 0;
  left: -2px;
  border: 2px solid #ddd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  color: rgb(153, 153, 153);
  margin-left: -13px;
  justify-content: center;
  padding: 8px;
}

.night .custom-timeline .rs-timeline-item-custom-dot .rs-icon {
  background: rgb(0, 0, 0);
  border: 2px solid #999;
  color: rgb(153, 153, 153);
}

.night .modal .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}


footer {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
}

footer .container {
  margin-bottom: 0;
}

footer .disclaimer {
  font-size: x-small;
  text-align: center;
}

.night footer {
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
}

.cascade-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cascade-item-wrapper {
  height: 475px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  position: sticky;
  z-index: 1;
}

.modal-content {
  min-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  position: sticky;
  z-index: 1;
}

@media (min-width: 768px) {
  .modal-dialog {
      max-width: 720px;
  }
}

.modal-header, .modal-footer {
  background-color: rgba(255,255,255,0.85);
  z-index: 1;
}

.night .modal-header, .night .modal-footer {
  background-color:rgba(0,0,0,0.5);
}

.cascade-item-row {
  display: block;
  overflow-y: hidden;
  min-height: 100%;
}

.cascade-item-overlay {
  position:absolute;
  top:0;right:0;left:0;bottom:0;
  background-color:rgba(255,255,255,0.85);
  z-index:0;
}

.modal-overlay {
  position:absolute;
  top:0;right:0;left:0;bottom:0;
  background-color:rgba(255,255,255,0.75);
  z-index:0;
}

.night .cascade-item-overlay, .night .modal-overlay {
  background-color:rgba(0,0,0,0.5);
}

.cascade-item {
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 1.875rem;
  margin-bottom: 1.5rem;
  top: 60px;
  position: sticky;
  width: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  overflow: hidden;
}

.cascade-slider .cascade-item  {
  box-shadow:  0px 2px 4px 2px rgb(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color:rgb(0, 0, 0);
}

.modal .modal-content  {
  box-shadow:  0px 2px 4px 2px rgb(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  color:rgb(0, 0, 0);
}

.night .cascade-slider .cascade-item {
  box-shadow: 0px 0px 8px 2px rgb(255, 255, 255, 0.5);
  background: rgba(24, 28, 31, .8);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color:rgb(255, 255, 255);
}

.night .modal .modal-content {
  box-shadow: 0px 0px 8px 2px rgb(255, 255, 255, 0.5);
  background: rgba(24, 28, 31, .8);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  color:rgb(255, 255, 255);
}

.dev-header img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.dev-info .social-icons a {
  font-size: x-large;
  margin: 0 0.5rem;
}

@supports (margin-bottom:clamp(5rem ,1.25rem + 16.0vw ,11.25rem)) {
  .cascade {
      margin-bottom: clamp(5rem, 1.25rem + 16.0vw, 11.25rem);
  }
}

@supports (padding-inline:clamp(0.875rem ,0.05rem + 3.625vw ,2.875rem)) {
  .cascade-item {
      padding-inline: clamp(.875rem, .05rem + 3.625vw, 2.875rem);
  }
}
@supports (padding:clamp(1.375rem ,0.75rem + 2.75vw ,2.875rem)) {
  .cascade-item {
      padding: clamp(1.375rem, .75rem + 2.75vw, 2.875rem);
  }
}

.title {
    font-weight: 700;
}

@supports (margin-bottom:clamp(1.75rem, 1.1rem + 4.0vw, 2.5rem)) {
    .title {
        margin-bottom: clamp(1.75rem, 1.1rem + 4.0vw, 2.5rem);
    }
}

@supports (line-height:clamp(2.0rem ,1.75rem + 5.0vw ,3.625rem)) {
    .title {
        line-height: clamp(2.0rem ,1.75rem + 5.0vw ,3.625rem);
    }
}
@supports (font-size:clamp(1.75rem ,1.5rem + 5.0vw ,3.25rem)) {
    .title {
        font-size: clamp(1.75rem ,1.5rem + 5.0vw ,3.25rem);
    }
}